.root {
    -fx-background-color: linear-gradient(to top, white, gray, #1b1751, #0a0645, #09053a, #030122);
    -fx-font-family: "Agency FB", sans-serif; /* you can change this font to any other font already installed on your computer */
}

.label {
    -fx-font-size: 16px;
    -fx-text-fill: #fff; 
}

.text-field {
    -fx-pref-width: 190px;
    -fx-background-color: #090455;
    -fx-border-color: #0a71d8;
    -fx-border-width: 2px;
    -fx-border-radius: 15px;
    -fx-padding: 5px;
    -fx-font-size: 14px;
    -fx-text-fill: #fff;
}

.text-field:focused {
    -fx-border-color: #005bb5;
}

.button {
    -fx-font-size: 12px;
    -fx-background-color: #0073e6; 
    -fx-text-fill: white;
    -fx-border-radius: 20px; 
    -fx-padding: 5px 10px;
    -fx-border-color: transparent;
}

.button:hover {
    -fx-background-color: #005bb5;
}

#petImage {
    -fx-background-color: #005bb5; 
    -fx-border-color: #333;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
}

#petLabel {
    -fx-text-fill: white;
    -fx-font-size: 18px;
}

.circular-image {
    -fx-border-radius: 50%;
    -fx-background-radius: 50%;
    -fx-border-color: #3498db;
    -fx-border-width: 5px;
    -fx-padding: 5px;
}

.border-pane{
    -fx-padding: 70px 10px 50px 25px;
}
